In [2]:
import pandas as pd

In [51]:
def read_in_logfile(path):
    pd.read_csv(path, sep='\t', skip_rows=3)


def get_blocks(log):
    #identifies the video trial types (as opposed to button press events etc)
    mask = ["vid" in log['Code'][i] for i in range(0,log.shape[0]-1)]
    #this isnt totally right lol
    df = pd.DataFrame({'onset':log.loc[mask]['Time'], 
                  'trial_type':log.loc[mask]['Event Type'], 
                  'movie_name':log.loc[mask]['Code']})

    df['trial_type']=df['movie_name'].apply(lambda x: "circle_block" if "cvid" in x else "EA_block")

In [63]:
#Reads in the log, skipping the first three preamble lines
log = pd.read_csv('/projects/gherman/Experimenting_notebooks/SPN01_CMH_0001-UCLAEmpAcc_part1.log', sep='\t', skiprows=3)

log['Time']=log['Time'].astype(str) #can i read it in initially with strings only? like stringsAsFactors=T in R?

log
#Finds the start and end times of blocks


#okay so Time from row n-1 + TTime from row n = Time in row n !!! 
#We will subtract Duration of MRI start from all times to give us the time
#(block_starts, block_types) = (log['Time'][] 
                               
 #                              df.loc[df['B'], 'A']

#f['c2'] = df['c1'].apply(lambda x: 10 if x == 'Value' else x)

#def get_button_press(log):

#Time col contains the button press onset time in event_type=response, Code col 
#contains the button press' value in rating_mask

#101 is the event code for some initial button press or response. We can ignore it. (AT LEAST acc. to the CAMH
#scan. Please cross-reference with others before finalizing)

#log['Time'] = log['Time'].astype(str)
#rating_mask = ["rating" in log['Time'][i] for i in range(0,log.shape[0]-1)]  
#response_mask=  ["rating" in log['Code'][i] for i in range(0,log.shape[0]-1)]  

#or "Response" in log['Code'][i]
    
#df = pd.DataFrame({'onset':log.loc[rating_mask]['Time'], 'rating':log.loc[response_mask]['Code']})    

#df
    
#pd.DataFrame{'col1': [1, 2], 
           #  'col2': [3, 4]}

#[[log['Code'][i], log['Time'][i], log['Event Type'][i]] for i in range(0,log.shape[0]-1) if("vid" in log['Code'][i])]

,Subject,Trial,Event Type,Code,Time,TTime,Uncertainty,Duration,Uncertainty.1,ReqTime,ReqDur,Stim Type,Pair Index
0,SPN01_CMH_0001,1,Picture,MRI_start,166,0,1,1050314.0,2.0,0.0,next,hit,2.0
1,SPN01_CMH_0001,1,Response,101,1050318,1050152,2,NaN,NaN,NaN,NaN,NaN,NaN
2,SPN01_CMH_0001,4,Video,vid_4,1181706,0,1,NaN,NaN,0.0,NaN,other,0.0
3,SPN01_CMH_0001,5,Picture,scale,1181873,0,1,335.0,2.0,0.0,100,other,0.0
4,SPN01_CMH_0001,5,Response,103,1307123,125250,2,NaN,NaN,NaN,NaN,NaN,NaN
5,SPN01_CMH_0001,6,Picture,rating_equal_to6,1307416,0,1,334.0,3.0,0.0,100,other,0.0
6,SPN01_CMH_0001,6,Response,102,1356642,49226,2,NaN,NaN,NaN,NaN,NaN,NaN
7,SPN01_CMH_0001,7,Picture,rating_equal_to5,1356730,0,2,335.0,3.0,0.0,100,other,0.0
8,SPN01_CMH_0001,7,Response,102,1369317,12587,1,NaN,NaN,NaN,NaN,NaN,NaN
9,SPN01_CMH_0001,8,Picture,rating_equal_to4,1369435,0,1,335.0,2.0,0.0,100,other,0.0
10,SPN01_CMH_0001,8,Response,102,1388159,18724,2,NaN,NaN,NaN,NaN,NaN,NaN
11,SPN01_CMH_0001,9,Picture,rating_equal_to3,1388325,0,1,334.0,3.0,0.0,100,other,0.0
12,SPN01_CMH_0001,9,Response,103,1446766,58441,1,NaN,NaN,NaN,NaN,NaN,NaN
13,SPN01_CMH_0001,10,Picture,rating_equal_to4,1446834,0,1,167.0,2.0,0.0,100,other,0.0
14,SPN01_CMH_0001,10,Response,103,1472211,25377,1,NaN,NaN,NaN,NaN,NaN,NaN
15,SPN01_CMH_0001,11,Picture,rating_equal_to5,1472410,0,1,335.0,2.0,0.0,100,other,0.0
16,SPN01_CMH_0001,11,Response,103,1532008,59598,1,NaN,NaN,NaN,NaN,NaN,NaN
17,SPN01_CMH_0001,12,Picture,rating_equal_to6,1532089,0,1,335.0,2.0,0.0,100,other,0.0
18,SPN01_CMH_0001,12,Response,103,1596274,64185,1,NaN,NaN,NaN,NaN,NaN,NaN
19,SPN01_CMH_0001,13,Picture,rating_equal_to7,1596449,0,1,334.0,2.0,0.0,100,other,0.0
20,SPN01_CMH_0001,13,Response,103,1615081,18632,1,NaN,NaN,NaN,NaN,NaN,NaN
21,SPN01_CMH_0001,14,Picture,rating_equal_to8,1615339,0,1,334.0,2.0,0.0,100,other,0.0
22,SPN01_CMH_0001,14,Response,103,1644045,28706,2,NaN,NaN,NaN,NaN,NaN,NaN
23,SPN01_CMH_0001,15,Picture,rating_equal_to9,1644091,0,1,335.0,2.0,0.0,100,other,0.0
24,SPN01_CMH_0001,15,Response,102,2660894,1016803,25,NaN,NaN,NaN,NaN,NaN,NaN
25,SPN01_CMH_0001,16,Picture,rating_equal_to8,2661138,0,2,335.0,3.0,0.0,100,other,0.0
26,SPN01_CMH_0001,16,Response,103,2825279,164141,28,NaN,NaN,NaN,NaN,NaN,NaN
27,SPN01_CMH_0001,17,Picture,rating_equal_to9,2825631,0,1,335.0,2.0,0.0,100,other,0.0
28,SPN01_CMH_0001,20,Video,cvid_1,2938971,0,1,NaN,NaN,0.0,NaN,other,0.0
29,SPN01_CMH_0001,21,Picture,cscale,2939138,0,1,167.0,2.0,0.0,100,other,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,SPN01_CMH_0001,93,Response,102,5230332,18218,2,NaN,NaN,NaN,NaN,NaN,NaN
163,SPN01_CMH_0001,94,Picture,rating_equal_to1,5230503,0,1,334.0,2.0,0.0,100,other,0.0
164,SPN01_CMH_0001,94,Response,103,5263838,33335,1,NaN,NaN,NaN,NaN,NaN,NaN
165,SPN01_CMH_0001,95,Picture,rating_equal_to2,5263936,0,2,335.0,3.0,0.0,100,other,0.0
166,SPN01_CMH_0001,95,Response,103,5272876,8940,39,NaN,NaN,NaN,NaN,NaN,NaN
167,SPN01_CMH_0001,96,Picture,rating_equal_to3,5273131,0,1,334.0,2.0,0.0,100,other,0.0
168,SPN01_CMH_0001,99,Video,vid_5,5353836,0,205,NaN,NaN,0.0,NaN,other,0.0
169,SPN01_CMH_0001,100,Picture,rating_equal_to4,5354207,0,1,334.0,2.0,0.0,100,other,0.0
170,SPN01_CMH_0001,100,Response,103,5412504,58297,1,NaN,NaN,NaN,NaN,NaN,NaN
171,SPN01_CMH_0001,101,Picture,rating_equal_to6,5412715,0,2,335.0,3.0,0.0,100,other,0.0
172,SPN01_CMH_0001,101,Response,103,5428428,15713,2,NaN,NaN,NaN,NaN,NaN,NaN
173,SPN01_CMH_0001,102,Picture,rating_equal_to7,5428596,0,1,335.0,2.0,0.0,100,other,0.0
174,SPN01_CMH_0001,102,Response,103,5448886,20290,26,NaN,NaN,NaN,NaN,NaN,NaN
175,SPN01_CMH_0001,103,Picture,rating_equal_to8,5449158,0,1,334.0,2.0,0.0,100,other,0.0
176,SPN01_CMH_0001,103,Response,103,5478000,28842,1,NaN,NaN,NaN,NaN,NaN,NaN
177,SPN01_CMH_0001,104,Picture,rating_equal_to9,5478078,0,1,334.0,2.0,0.0,100,other,0.0
178,SPN01_CMH_0001,104,Response,102,6297184,819106,1,NaN,NaN,NaN,NaN,NaN,NaN
179,SPN01_CMH_0001,105,Picture,rating_equal_to8,6297199,0,1,334.0,2.0,0.0,100,other,0.0
180,SPN01_CMH_0001,105,Response,102,6300223,3024,2,NaN,NaN,NaN,NaN,NaN,NaN
181,SPN01_CMH_0001,106,Picture,rating_equal_to7,6300375,0,1,334.0,2.0,0.0,100,other,0.0
182,SPN01_CMH_0001,106,Response,102,6318245,17870,2,NaN,NaN,NaN,NaN,NaN,NaN
183,SPN01_CMH_0001,107,Picture,rating_equal_to6,6318429,0,1,334.0,2.0,0.0,100,other,0.0
184,SPN01_CMH_0001,107,Response,102,6320923,2494,2,NaN,NaN,NaN,NaN,NaN,NaN
185,SPN01_CMH_0001,108,Picture,rating_equal_to5,6321104,0,1,334.0,2.0,0.0,100,other,0.0
186,SPN01_CMH_0001,108,Response,102,6337374,16270,1,NaN,NaN,NaN,NaN,NaN,NaN
187,SPN01_CMH_0001,109,Picture,rating_equal_to4,6337486,0,1,334.0,3.0,0.0,100,other,0.0
188,SPN01_CMH_0001,109,Response,103,6346006,8520,2,NaN,NaN,NaN,NaN,NaN,NaN
189,SPN01_CMH_0001,110,Picture,rating_equal_to5,6346179,0,1,334.0,2.0,0.0,100,other,0.0
190,SPN01_CMH_0001,110,Response,103,6370968,24789,1,NaN,NaN,NaN,NaN,NaN,NaN
191,SPN01_CMH_0001,111,Picture,rating_equal_to6,6371087,0,1,167.0,2.0,0.0,100,other,0.0

In [82]:

#Time col contains the button press onset time in event_type=response, Code col 
#contains the button press' value in rating_mask

#I am not entirely sure that I should be getting the time from the row before, but it kind of makes sense to take the most straightforward one

#101 is the event code for some initial button press or response. We can ignore it. (AT LEAST acc. to the CAMH
#scan. Please cross-reference with others before finalizing)


#the times in this row are EXTREMELY close to the other times. This isn't EEG, I think we're prolly ok
rating_mask = ["rating" in log['Code'][i] for i in range(0,log.shape[0])]  
#RT_mask=  ["Response" in log['Event Type'][i] and log['Code'][i]!="101"  for i in range(0,log.shape[0]-1)]  #this is from when i was doing it the response time way, but idk how i feel abt that

pd.DataFrame({'onset':log.loc[rating_mask]['Time'].values, 'participant_rating':log.loc[rating_mask]['Code'].values})

      onset participant_rating
0   1307416   rating_equal_to6
1   1356730   rating_equal_to5
2   1369435   rating_equal_to4
3   1388325   rating_equal_to3
4   1446834   rating_equal_to4
5   1472410   rating_equal_to5
6   1532089   rating_equal_to6
7   1596449   rating_equal_to7
8   1615339   rating_equal_to8
9   1644091   rating_equal_to9
10  2661138   rating_equal_to8
11  2825631   rating_equal_to9
12  2966553   rating_equal_to4
13  2983939   rating_equal_to3
14  3029074   rating_equal_to4
15  3031582   rating_equal_to5
16  3034089   rating_equal_to6
17  3068024   rating_equal_to5
18  3070699   rating_equal_to4
19  3073039   rating_equal_to3
20  3091428   rating_equal_to2
21  3100455   rating_equal_to3
22  3124694   rating_equal_to4
23  3150438   rating_equal_to5
24  3152778   rating_equal_to6
25  3154784   rating_equal_to7
26  3156623   rating_equal_to8
27  3197913   rating_equal_to9
28  3231514   rating_equal_to8
29  3234189   rating_equal_to7
..      ...                ...
63  5024887   rating_equal_to2
64  5045616   rating_equal_to3
65  5067682   rating_equal_to2
66  5070356   rating_equal_to1
67  5101115   rating_equal_to2
68  5147421   rating_equal_to3
69  5149761   rating_equal_to4
70  5159457   rating_equal_to5
71  5173332   rating_equal_to6
72  5184365   rating_equal_to5
73  5189380   rating_equal_to4
74  5194729   rating_equal_to3
75  5197069   rating_equal_to2
76  5199410   rating_equal_to1
77  5212114   rating_equal_to2
78  5230503   rating_equal_to1
79  5263936   rating_equal_to2
80  5273131   rating_equal_to3
81  5354207   rating_equal_to4
82  5412715   rating_equal_to6
83  5428596   rating_equal_to7
84  5449158   rating_equal_to8
85  5478078   rating_equal_to9
86  6297199   rating_equal_to8
87  6300375   rating_equal_to7
88  6318429   rating_equal_to6
89  6321104   rating_equal_to5
90  6337486   rating_equal_to4
91  6346179   rating_equal_to5
92  6371087   rating_equal_to6

[93 rows x 2 columns]

In [29]:


# find rows in `df1` which contain "foo" followed by something
#df1[df1['col'].str.contains(r'foo(?!$)')]

KeyError: False